.someSelector {
  background-color: red;

  div {
    font-size: 2rem;
    color: blue;

    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
    }
  }
}
